<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CodeFest 2024</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="favicon.png">
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/809722bce4.js" crossorigin="anonymous"></script>
</head>
<body>
    <center>
      <h1>CodeFest</h1> <br />
    </center>

    <script>
	    const token = "{{ token }}";
	    localStorage.setItem("token", token);
	    window.location = '/'
    </script>

</body>
</html>
